{cover_enabled, true}.

{deps, [
  {itc, ".*", {git, "git://github.com/ferd/Interval-Tree-Clocks.git", {branch, "master"}}},
  {bitcask, ".*", {git, "https://github.com/basho/bitcask.git", {branch, "develop"}}},
  {uuid, ".*", {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
  {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {branch, "master"}}}
]}.

{ct_opts, [{ct_hooks, [cth_readable_shell]}]}.

{profiles, [
  {test,
    [{deps, [
      {cth_readable,
       {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}}
    ]}]}
]}.

%% Make bitcask work
{overrides, [
  {override, bitcask, [
    {erl_opts, [
      warnings_as_errors,
      debug_info,
      {platform_define, "^[0-9]+", namespaced_types},
      {parse_transform, lager_transform}
    ]},
    {deps, [lager]},
    {plugins, [pc]},
    {provider_hooks, [
      {post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
      ]}
    ]}
  ]}
]}.
