{erl_opts, [{i, "include"}, {src_dirs, ["src"]}]}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*", "logs/*"]}.
{deps_dir, ["deps/"]}.
{deps, [
  {itc, ".*", {git, "git://github.com/ferd/Interval-Tree-Clocks.git", {branch, "master"}}},
  {bitcask, ".*", {git, "https://github.com/basho/bitcask.git", {branch, "master"}}},
  {uuid, ".*", {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
  {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {branch, "master"}}}
]}.
